.pull-left.vote-arrows
  %div
    %div= link_to " ", '#', class: 'glyphicon glyphicon-chevron-up'
    %div
      %strong= post.points
    %div= link_to " ", '#', class: 'glyphicon glyphicon-chevron-down'
